@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        /*background-color: #EFEFEF;*/
    }

    /*// X-Small devices (portrait phones, less than 576px)*/
    @@media (max-width: 575.98px) {
    }

    /*// Small devices (landscape phones, less than 768px)*/

    @@media (max-width: 767.98px) {
    }


    @@media (max-width: 767.98px) {
    }

    .hover-effect:hover {
        background-color: #B6EDFF;
        border-radius: 10px;
        transform: scale(1.05);
    }

    .hover-effect {
        /* Set initial background color */
        background-color: transparent;
        /* Add transition for smooth animation */
        transition: background-color 0.5s ease;
        transition: all 0.3s
    }
</style>

<div>
    <h1 class="text-center mt-5 mb-5">Please Choose Your Department</h1>
</div>
<hr />

<!--First Row-->

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3 border-0">
                <a class="row g-0 hover-effect p-3 text-decoration-none text-black shadow-sm rounded-4" data-bs-target="#exampleModal" data-bs-toggle="modal">
                    <div class="col-auto">
                        <img src="~/images/saleICON.png" alt="Image 1" style="max-width: 100px;">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Sale Department</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card mb-3 border-0">
                <a class="row g-0 hover-effect p-3 text-decoration-none text-black  shadow-sm rounded-4">
                    <div class="col-auto">
                        <img src="~/images/accoutningICON.png" alt="Image 2" style="max-width: 100px;">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Accountant Department</h5>
                            <p class="card-text">Accountant Management</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--second row-->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3 border-0">
                <a class="row g-0 hover-effect p-3 text-decoration-none text-black shadow-sm rounded-4">
                    <div class="col-auto">
                        <img src="~/images/technicalICON.png" alt="Image 1" style="max-width: 100px;">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Technical Department</h5>
                            <p class="card-text">Technical Department Management</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card mb-3 border-0">
                <a class="row g-0 hover-effect p-3 text-decoration-none text-black shadow-sm rounded-4">
                    <div class="col-auto">
                        <img src="~/images/stockICON.png" alt="Image 2" style="max-width: 100px;">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Stock Department</h5>
                            <p class="card-text">Stock Department Management</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--third row-->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3 border-0">
                <a  class="row g-0 hover-effect p-3 text-decoration-none text-black shadow-sm rounded-4">
                    <div class="col-auto">
                        <img src="~/images/auditICON.png" alt="Image 1" style="max-width: 100px;">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Checking Department</h5>
                            <p class="card-text">Checking Department management</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card mb-3 border-0">
                <a class="row g-0 hover-effect p-3 text-decoration-none text-black shadow-sm rounded-4">
                    <div class="col-auto">
                        <img src="~/images/ItICON.png" alt="Image 2" style="max-width: 100px;">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Information Technology Department</h5>
                            <p class="card-text">IT Department Management</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
